.container{
    max-width: 1320px;
    background-color: transparent;
    margin: auto;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    padding: 0 50px;

    .logo{

        h1{
            color: #ffffff;
        }
    }
    .links ul{
        display: flex;
        gap: 45px;
    }
    .links ul > li{
        list-style: none;
    }

    .links ul > li > a{
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        animation-name: glow;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .button{

        button{
            padding: 8px 25px;
            background-color: rgba(4, 167, 231, 0.747);
            border: none;
            color: #fff;
            border-radius: 8px;
            cursor: pointer;
        }
        button:hover{
            background-color: rgba(5, 107, 148, 0.747);
        }
        button:active{
            background-color: rgba(45, 131, 165, 0.747);
            color: #0a0a0a;
        }
    }
}
@media (max-width:800px){
    .links ul li a{
        display: none;
    }
    .logo{
        display: flex;
        margin: auto;
    }
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px blue}
}