.slider{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    button{
        background-color: rgb(6, 196, 6);
        border: none;
    }

    img{
        height: 100%;
        width: 100%;
    }
    .slide{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateX(-50%);
        transition: all 0.5s ease;
    }
    .current{
        opacity: 1;
        transform: translateX(0);
    }
    .current .content{
        opacity: 1;
    }

    .content{
        position: absolute;
        top: 23rem;
        left: 5rem;
        opacity: 0;
        width: 50%;
        padding: 3rem;
        background: rgba(0,0,0,.3);
        animation: slide-up 1s ease .5s;
        animation-fill-mode: forwards;
        //visibility: hidden;
    }
    @keyframes slide-up{
        0%{
            visibility: visible;
            top: 23rem;
        }
        100%{
            visibility: visible;
            top: 15rem;
        }
    }
    @media(max-width: 600px){
        .slider{
            position: relative;

            .slide{
        .content{
            position: absolute;
            width: 80%;
            left: 2rem;
            top: 10rem;
        }
    }
    }
    }
    .content > *{
        color: #fff;
        margin-bottom: 1rem;
    }

    .arrow{
        border: 2px solid #fff;
        background: transparent;
        color: white;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        z-index: 999;
    }
    .arrow:hover{
        background: #fff;
        color: #777;
    }
    .next{
        top: 25%;
        right: 1.5rem;
    }
    .prev{
        top: 25%;
        left: 1.5rem;
    }
    hr{
        height: 2px;
        background: #fff;
        width: 50%;
    }
}
@media screen and (min-width:600px) {
    .slide img{
        width: 100%;
        height: 100%;
    }
}

@media(max-width:700px){
    .slide img{
        height: 85vh;
    }
}
